@font-face {
    font-family: "GinSSB60";
    font-style: normal;
    font-weight: 400;
    src: url(GinSSB60.ttf) format("truetype");
}

body {
    font-family: "GinSSB60";
    background-color: #e5af93;
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

body a~p {
    font-style: italic;
}

body a~p>span::before {
    font-family: sans-serif;
}

img {
    max-width: 30vmax;
}

a,
p {
    align-self: center;
    text-align: center;
}

p {
    font-size: 7vmax;
    margin: 25px;
    margin-top: 4vh;
    margin-bottom: 50px;
}

footer {
    background-color: #9f4830;
    font-family: sans-serif;
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: .75em;
}

footer,
footer a {
    color: #2d140e;
    font-weight: bold;
}