@font-face {
  font-family: "GinSSB60";
  font-style: normal;
  font-weight: 400;
  src: url(GinSSB60.ttf) format("truetype");
}

body {
  background-color: #f1e4c1;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;
}

main {
  font-family: "GinSSB60";
  font-size: 7vmin;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

p {
  margin-block: .5em;
  margin-inline: 1em;
}

footer {
  font-size: max(3vmin, .75em);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  max-block-size: var(--line-height);
  overflow: hidden;
  margin-block-end: 1em;
  --line-height: 2.5em;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  display: flex;
  min-block-size: var(--line-height);
  align-items: center;
  text-align: center;
  margin-inline: 1em;
  padding-inline: 1em;
}

a,
a:visited {
  color: #9f4830;
}

a:focus-visible {
  outline-offset: -3px;
  outline: 2px dotted #9f4830;
}

img {
  max-inline-size: 40vmin;
}

p {
  text-align: center;
}