@font-face {
    font-family: "GinSSB60";
    font-style: normal;
    font-weight: 400;
    src: local("GinSSB60"), url(GinSSB60.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: "GinSSB60";
    background-color: #e5af93;
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

body a~p {
    font-style: italic;
}

body a~p::before {
    content: "Ceci n'est pas une page web";
}

body a~p>span::before {
    font-family: sans-serif;
}

body a:hover~p::before {
    content: "";
}

body a:hover~p>span::before {
    content: "It is a ZIP file";
}

img {
    max-width: 30vmax;
}

a,
p {
    align-self: center;
    text-align: center;
}

p {
    font-size: 7vmax;
    margin: 25px;
    margin-top: 4vh;
    margin-bottom: 50px;
}

footer {
    background-color: #9f4830;
    font-family: sans-serif;
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: .75em;
}

footer,
footer a {
    color: #2d140e;
    font-weight: bold;
}